        <div class="waviy">
        <span style="--i:1">OGRE</span>
        <span style="--i:2">QUEST</span>
        </div>
        <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>            
                {{/if}}

        </nav>