<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogre Quest</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/style.css">



</head>

<body>

    <header>

        {{> header }}

    </header>
    {{!-- error message modal --}}
    <div id="errorMessage" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('errorMessage').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <p id="errorText">Error Message will display here</p>
            </div>
        </div>
    </div>

        <main class = "mainpage">
        {{{ body }}}

    </main>
    <footer></footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>