<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogre Quest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="wrapper">
        <header>
            {{!-- <h1>
                <a href="/">Ogre Quest</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home Page</a>
                <button id="logout">Log Out</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav> --}}
            
{{!-- <nav>
    <a href="/login">login</a>
</nav> --}}

        </header>
        <main>
            <body>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home Page</a>
                <button id="logout">Log Out</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>

            </body>

            {{{ body }}}

        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

</body>

</html>