<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogre Quest</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    
</head>

<body>
    <div class = "w3-mobile mainbodyimg"></div>

    {{!-- <div class="wrapper"> --}}
        <header>
            <div class = "titleimg">
            <img src="/img/titleimg.png" class ="headerimg">
            </div>

        </header>

        <main>
            <body>
                {{{ body }}}
 
            </body>

           

        </main>
        <footer></footer>
    </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>