<div class="">


    {{!-- <div class="w3-pannel">
        <h2>"Battle message"</h2> --}}

        <div class="w3-center"><br>
            <img src="/img/ogre4.png" alt="Avatar" style="width:30%, height: 30%" class="">
            <p>Enemy name</p>
            <p>
                <button class="w3-btn w3-border w3-xlarge w3-black">Health "10"</button>
                <button class="w3-btn w3-border w3-xlarge w3-black">Attack "10"</button>
                <button class="w3-btn w3-border w3-xlarge w3-black">Defense "10"</button>
            </p>

        </div>
    </div>

    <div class="w3-content">
        <div class="w3-display-container w3-blue w3-grayscale-max" style="height:100px;">
            <div>
                <h4 class="battle-message"></h4>
            </div>
        </div>
    </div>

    <div class="w3-content">

        {{> upgrade }}

    </div>
    <div>
        <button class="w3-btn w3-border w3-round-xxlarge w3-red attack-button" data-charName="{{character.name}}" data-charId="{{character.id}}" data-attack="{{character.attack}}" data-health="{{character.hp}}">Attack</button>
    </div>
</div>

<script src="/javascript/battle.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>