<div class="battlebackground">


    <div class="w3-pannel">
        <h2>"Battle message"</h2>

        <div class="w3-center"><br>
            <img src="/img/ogre_image.jpg" alt="Avatar" style="width:30%, height: 30%" class="w3-circle w3-margin-top">
            <p>Enemy name</p>
            <p>
                <button class="w3-btn w3-border w3-xlarge w3-black">Health "10"</button>
                <button class="w3-btn w3-border w3-xlarge w3-black">Attack "10"</button>
                <button class="w3-btn w3-border w3-xlarge w3-black">Defense "10"</button>
            </p>


        </div>

    </div>

    <div class="w3-content">
        <div class="w3-display-container w3-yellow" style="height:100px;">
        <div class="w3-display-middle w3-padding">Battle Message/ Text</div>
    </div>
</div>



    <div class="w3-content">




        <div class="w3-card w3-green" style="height: 300px">
div class="w3-row">
<div class="w3-col m4 l3">
    <button class="w3-button w3-xxlarge w3-black">Health</button>
    </div>
    
</div>

<div class="w3-col">
    <button class="w3-button w3-xxlarge w3-black">Health</button>
</div>

<div class="w3-col m8 l9">
    <p>12 columns on a small screen, 8 on a medium screen, and 9 on a large screen.</p>
</div>
</div>
          
            {{!-- <div class="w3-col">
                <button class="w3-button w3-xxlarge w3-black">Health</button>
            </div>
            
            <div class="w3-col">
                <button class="w3-button w3-xxlarge w3-black">Attack</button>
            </div>
            <div class="w3-col">
                <button class="w3-button w3-xxlarge w3-black">Defense</button>
            </div>
            <div class="w3-col">
                <button class="w3-button w3-xxlarge w3-black">Luck</button>
            </div> --}}

            
        </div>



    </div> --}}


{{!-- </div> --}}

<