<div class="">

<div class="ogre-card">
</div>

    {{!-- <div class="w3-pannel">
        <h2>"Battle message"</h2> --}}

        {{!-- <div class="w3-center"><br>
            <img src="/img/ogre4.png" alt="Avatar" style="width:30%, height: 30%" class="">
            
            <p class="w3-xxxlarge font-effect-shadow-multiple">The Ogrenator</p>
                
           
            
            <p>
                <div class="w3-border w3-xlarge w3-black"><h3 class="monster-health w3-text-white"></h3></div>
                <button class="w3-btn w3-border w3-xlarge w3-black monster-attack"></button>
                <button class="w3-btn w3-border w3-xlarge w3-black monster-gold"></button>
            </p>

        </div>
    </div> --}}

    <div class="w3-content">
        <div class="w3-display-container w3-blue w3-grayscale-max" style="height:100px;">
            <div>
                <h4 class="battle-message"></h4>
            </div>
        </div>
    </div>

    <div class="w3-content">

        {{> upgrade }}

    </div>
</div>

<script src="/javascript/battle.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>