
<body>

<div class ="w3-container w3-mobile charactercont">
<div class=" w3-margin-left">
            {{> getCharacter character}}
</div>
    </div>




<div class="w3-container w3-display-middle w3-mobile creatediv">
    {{!-- <div class="w3-col m12 l12 w3-margin">
        <div class="w3-container w3-red"> --}}
            {{> createCharacter}}
        {{!-- </div> --}}
     {{!-- </div> --}}
</div>
</body>