
<body>






<div class="w3-container creatediv">
    {{!-- <div class="w3-col m12 l12 w3-margin">
        <div class="w3-container w3-red"> --}}
            {{> createCharacter}}
        {{!-- </div> --}}
     {{!-- </div> --}}
</div>

<div class ="w3-container charactercont">
<div class=" w3-margin-left">
            {{> getCharacter character}}
</div>
    </div>
</body>