<div>
    <H2>Create A Character</H2>
    <p>Enter your characters name. Then select the difficulty. Easy will give you more starting gold to create a more powerful character. Hard will start you with less. </p>
</div>
<form class="create-character">
    <div>
        <label for="character-name">Character Name:</label>
        <input type="text" id="character-name" />
    </div>
    <div>
        <button type="submit">Easy</button>
        <button type="submit">Hard</button>
    </div>
</form>