@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  box-sizing: border-box;
}

body {

  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  margin: 0;
}

.w3-text-red {
  color: red;
  text-shadow: 2px 2px black;
  font-size: 50px;
}

button {

  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
  background-color: #3ca3227a;
  border-color: black;
  height: 20%;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 250px;
}

.display-button {
  font-size: 20px;
  float: right;
}

/* button:hover {
  background-color: #3486eb;
  
}  */
.ogre-card {
  /* contain: style; */
  object-fit: contain;
  /* overflow: auto; */
}

.battle-option {
  /* contain: style; */
  object-fit: contain;
}

.status-bar {
  width: 100%;
}

.battle-class {
  display: flex;
  flex-wrap: wrap;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form label {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 100%;
}

.loginimg {
  background-image: url("../img/loginbanner.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 200px;
  width: 1200px;
  /* position: fixed; */
  align-content: center;
}

.titleimg {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.headerimg {
  width: 100%;
  position: fixed;
}

/* .character-form {
  background-image: url("/img/loginbanner.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  right: 25%;
  width: 600px;
  height: 500px;
  text-align: center;
} */

.get-characters {
  /* z-index: 1; */

  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
  margin: 1px 10px;
  text-transform: capitalize;
}

.w3-button {

  /* width:150px; */
  margin: 5px;
}

.charactercont {
  background-image: url("/img/charactersimg.png");
  background-repeat: no-repeat;
  background-size: cover;


  /* flex-wrap: wrap; */

}

.creatediv {
  display: flex;
  flex-wrap: wrap;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: small;
}

.login-form {
  background-image: url("/img/loginbanner.png");
  background-repeat: no-repeat;
  background-position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: fixed; */
  align-items: center;
  /* top: 50%;
  right: 25%; */
  width: 600px;
  height: 450px;
  margin: 75% auto auto;
}

.character-form {
  background-image: url("/img/loginbanner.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

/* .login-form button {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
    background-color:#3ca3227a;
    border-color: black;
} */

.characterform h1 {

  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
}

.characterform p {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);

}

/* .characterform button {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
    background-color:#3ca3227a;
    border-color: black;
} */
/* .character button {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
    background-color:#3ca3227a;
    border-color: black;
    height: 20%;
    margin: 5px;
    
} */

.characterform label {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
}

/* header button {
  color: #fff;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(23, 201, 47),
    0 0 80px rgb(23, 201, 47),
    0 0 90px rgb(23, 201, 47),
    0 0 100px rgb(23, 201, 47),
    0 0 150px rgb(23, 201, 47);
    background-color:#3ca3227a;
    border-color: black;
    border: black;
    border-width: 1px;
} */

.difficultyradio {
  overflow: hidden;
  float: left;
}

.difficultyradio p {
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 10px rgb(56, 51, 51);
  font-size: large;
  clear: none;
}

.difficultylabel {
  float: left;

  display: block;
  padding: 0px 1em 0px 8px;
}

.CrChButton {
  margin: 0%;
  left: 50%;
}

/* .characterform div{

      overflow: hidden;

  

      float: left;
      clear: none;
    }
    
    label {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
    }
    
    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    } */



.battle-message {
  overflow: scroll;
  max-height: 300px;
  padding-left: 10px;
  padding-top: 5px;
  /* width: 653rem; */
  background-color: lightgray;
  box-shadow: black;

}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(40, 185, 65, .2));
  font-size: 100px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

@keyframes shadowmove {
  20% {
    text-shadow: 10x 1
  }
}

.battlebackground {

  background-size: cover;
  background-image: url("/img/background2.jpg");
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
}





@media only screen and (max-width: 600px) {
  body {
    background-image: url("/img/goblincave.jpg");
  }

  .battle-class {
    width: 320px;
    padding: 0;
    padding-left: 10px;

  }

  header {
    width: 320px;
    padding: 0;
    padding-left: 10px;
  }

  .waviy {
    font-size: 50px;
  }

  img {
    width: 320px;
    margin: 0 auto;
  }

  main {
    width: 320px;
    padding: 0;
    padding-left: 10px;
  }
  
  .character-form {
    background-image: none;
    background: linear-gradient(to bottom right, rgb(95, 236, 114), rgb(59, 55, 55));
    width: 300px;
    height: 50%;
    /* background-position: fixed; */
    /* object-fit: contain; */
    /* background-size: contain; */
    /* font-size: 10px; */
  }
  .charactercont {
    background-image: none;
    background: linear-gradient(to top right, rgb(95, 236, 114), rgb(59, 55, 55));
    width: 300px;
    height: 50%;
    /* font-size:small;
    flex-wrap: wrap; */
   /* contain: content; */
    /* background-position: fixed; */
    /* object-fit: contain; */
    /* background-size: contain; */
    /* align-items: center;
    overflow: hidden;
    clear: both;
    */
  }

  .delete-character {
    float: right;
    flex-wrap: nowrap;
  }
  .start-battle {
    float: right;
    position:unset;
    width: 150%;
    
  }
  .get-characters {
    margin: 0 0 0 0;
    overflow: hidden;
    word-break: break-all;
    hyphens: auto;
  }
  .login-form {
    background-image: none;
    background: linear-gradient(to bottom right, rgb(95, 236, 114), rgb(59, 55, 55));
    width: 100%;
    height: 50%;
  }
  /* .createddiv .w3-container {
    padding: 0;
  } */
  /* .w3-margin-left {
    margin: 0 0 0 0 !important; */



}

@media only screen and (min-width: 600px) {

  body {
    background-image: url("/img/goblincave.jpg");
  }

  /* section {
    padding: 30px 15px;
  } */
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("/img/goblincave.jpg");
  }

  /* section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  } */

}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("/img/goblincave.jpg");
  }

  /* .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  } */
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("/img/goblincave.jpg");
  }
}