@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
button {
  background-color: #225ca3;
  border: 0;
  padding: 10px;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
  
}


textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form label {
  display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
}

.loginimg {
  background-image: url("../img/loginbanner.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 200px;
  width: 1200px;
  /* position: fixed; */
  align-content: center;
}
.titleimg {
  width:100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.headerimg {
  width: 100%;
  position: fixed;
}
/* .character-form {
  background-image: url("/img/loginbanner.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  right: 25%;
  width: 600px;
  height: 500px;
  text-align: center;
} */

.get-characters {
  z-index: 1;
  position: absolute;
}
.w3-button {
  
  /* width:150px; */
margin: 5px;
}

.login-form, .character-form {
  background-image: url("/img/loginbanner.png");
  background-repeat: no-repeat;
  background-position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: fixed; */
  align-items: center;
  /* top: 50%;
  right: 25%; */
  width: 600px;
  height: 450px;
  margin: 75% auto auto;
}

.characterform h1 {

  color:black;
  text-shadow: 4px 4px 0px #ffffff;
  mix-blend-mode: screen;
  animation: fadeIn 2s linear forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 5;
    }

    100% {
        opacity: 100;
    }
}
.difficultyradio {
  overflow: hidden;
  float: left;
  clear: none;
}
.difficultyradio p {
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 10px rgb(56, 51, 51);
  font-size: large;
}

.difficultylabel {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}
.CrChButton {
  margin: 0%;
  left:50%;
}

/* .characterform div{

      overflow: hidden;

  

      float: left;
      clear: none;
    }
    
    label {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
    }
    
    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    } */



.battle-message {
  overflow: auto;
  max-height: 100px;
  padding-left: 10px;
  padding-top: 5px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(40,185,65,.2));
  font-size: 100px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes shadowmove {
  20% {text-shadow: 10x 1}
}

.battlebackground{

background-size: cover;
background-image: url("/img/background2.jpg");
height: 100%;
width: 100%;
z-index: -1;
position: absolute;
background-repeat: no-repeat;
}



/*Nothing below these*/

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

    @media screen and (max-width: 1224px) {
      body{
background-image: url("/img/goblincave.jpg");
      }
      
      /* header {
        padding-bottom: 0; justify-content: center; position: relative; }
    
      header h1 {width: 100%;text-align: center;}
    

header nav ul {margin-top: 20px; width: 100%; justify-content: center;}
      
header nav ul li a {font-size: 20px;}
footer h2, footer div {text-align: center; width: 100%;}

.hero-cta, .hero-form {width: 100%;}

.hero-cta {text-align: center;}

.section-title {width: 80%;}
.trainer {flex: 0 70%;}

.contact-info iframe {flex: 1 100%;} */
      } 
@media screen and (min-width: 768px) {

   body{
background-image: url("/img/goblincave.jpg");
      }

  /* section {
    padding: 30px 15px;
  } */
}

@media screen and (max-width: 768px) {
   body{
background-image: url("/img/goblincave.jpg");
      }
  /* section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  } */

}

@media screen and (max-width: 575px) {
   body{
background-image: url("/img/goblincave.jpg");
      }
  /* .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  } */
}